@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Roboto+Slab&display=swap');

@font-face {
    font-family: 'Newsreader';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/newsreader/v20/cY9kfjOCX1hbuyalUrK439vogqC9yFZCYg7oRdaKP4obnf7fTXglsMyoT-ZA.ttf) format('truetype');
}

:root {
    --primary-color: #0192e0;
    --secondary-color: #939196;
    --accent1-color: #d3cad2;
    --accent2-color: #ffe2fe;

    --heading-font: 'Newsreader', serif;
    --paragraph-font: 'Newsreader', serif;

    --nav-background-color: #4156dc;
    --nav-link-color: #574ae2;
    --nav-hover-link-color: #ffffff;
    --nav-hover-background-color: #f9e24d;

    --heading-color: var(--primary-color); /* Color for headings */
    --paragraph-color: var(--secondary-color); /* Color for paragraphs */
    --font-color: var(--accent1-color); /* Color for fonts */

    --social-link-underline: none; /* Remove underlines from social media links */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Apply font color to all fonts */
body {
    max-width: 800px;
    margin: 0 auto;;
    color: var(--font-color);
}

.aboutHeader {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    align-items: center;
    background-color: var(--nav-background-color);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding: 22px;
    gap: 20px;
    border: 1px solid black;
    margin-bottom: 10px;
}
  
.logo {
    margin: 0 auto;
    border-radius: 40%;
    border: 1px solid black;
    width: 100px;
    height: auto;
}

.aboutNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: auto;
    padding: 0px;
    margin: 0;
    background-color: #777;
    border: 1px solid black;
}
  
.aboutNavbar a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 15px 25px;
    margin: 0;
    border-right: 1px solid black;
}
  
.aboutNavbar a:last-child {
    border-right: none;
}
  
.aboutNavbar a:hover {
    background-color: var(--accent1-color);
    color: var(--nav-link-color);
} 

main {
    max-width: 900px; 
    /*margin: 1.5rem auto;*/
    text-shadow: 3px 3px 5px #777;
}  

/* Apply styles to headings */
h1, h2, h3, h4, h5, h6 {  
    font-family: var(--heading-font);
    text-align: center;
}

/* Apply styles to paragraphs */ 
p {
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
    padding: 25px;
} 

/* Remove underlines from social media links */
.social-link {
    text-decoration: var(--social-link-underline);
}

/* Limit the width of the page */ 
.container { 
    max-width: 1200px; /* Adjust as needed */
    margin: 0 auto; /* Center the container */
} 

.hero {
    display: flex;
    position: relative;
    max-width: 840px;
    margin-top: 5px;
    height: auto;
    padding: 0;
    flex-direction: column;
    align-items: center;
}

.hero img{
    width: 800px;
    height: 500px;
    object-fit: cover;
}

.hero h1{
    width: 780px;
    position: absolute;
    top: 70px;
    left: 10px;
    color:aliceblue;
    text-transform: uppercase;
    background-color: rgb(250, 180, 54, 0.75);
}

.hero article {
    position: absolute;
    background-color: #0192e0;
    top: 220px;
    left: 30px;
    width: 740px;
    height: 180px;
    padding:10px;
    border: 1px solid black;
}

.hero article p {
   color: whitesmoke;
   font-family: var(--paragraph-font);
   padding: 15px 15px 15px 15px;
   text-align: justify;
}

.hero article img{
    float:right;
    width: 250px;
    height: auto;
    display: block;
    padding: 15px 15px 15px 15px;
}

section {
    max-width: 840px;
    height: auto;
    background-color: #0192e0;
    margin-top: 5px;
}

section h2 {
    /*font-family: var(--heading-font);*/
   /* text-align: center;*/
    padding: 10px;
}

section img {
    width: 150px;
    height: auto;
    padding: 1px 10px 1px 10px;
}

.historyContent {
    display: flex;
    padding-bottom: 1rem;
}

.historyContent p {
    text-align: justify;
    font-family: var(--paragraph-font);
    padding: 10px;
}

/* Adventure Section */
.adventures {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.adventures h2 {
    width: 100%;
    margin-bottom: 1px;
}

.figures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 1rem;
}

.figures img {
    max-width: 100%;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.figcaption {
    margin: 10px;
    text-align: center;
    font-weight: bold;
    font-family: var(--paragraph-font);
}

footer {
    display: flex;
    justify-content: space-between;
    max-width: 840px;
    height: auto;
    border: solid black 1px;
    margin-top: 5px;
    background-color: #01ace0f9;
}

footer p {
    display: flex;
    flex-direction: column;
    font-family: var(--paragraph-font);
    align-items: center;
    padding: 10px;
}

footer nav {
    columns: 1;
    padding: 1px;
}

nav a img {
    width: 40px;
    text-decoration: none;
}