@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Roboto+Slab&display=swap');

@font-face {
    font-family: 'Newsreader';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/newsreader/v20/cY9kfjOCX1hbuyalUrK439vogqC9yFZCYg7oRdaKP4obnf7fTXglsMyoT-ZA.ttf) format('truetype');
    
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

:root {
    --primary-color: #273dd2;
    --secondary-color: #939196;
    --accent1-color: #d3cad2;
    --accent2-color: #ffe2fe;

    --heading-font: 'Newsreader', serif;
    --paragraph-font: 'Newsreader', serif;

    --nav-background-color: #4156dc;
    --nav-link-color: #574ae2;
    --nav-hover-link-color: #ffffff;
    --nav-hover-background-color: #f9e24d;
}

body {
    font-family: var(--paragraph-font);
    max-width: 360px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-hover-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
