@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1em;

}

header {
    margin: 0 auto;
    width: 650px;
    text-align: center;
    display: grid;
}

.checkmark {
    background-color: #333;
    color: #fff;
    padding: 4px 7px;
    font-size: small;
    position: relative;
    bottom: 6px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

h1 {
    color: #051080;
    padding: 10px;
    margin-bottom: 1px;
}

label, input, button, select, textarea {
    font-family: Roboto, Arial, ans-serif;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], textarea, select, input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.code {
    background-color: #333;
    color: #fff;
    font-size: small;
    padding: 8px;
    width: 65%;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    padding: .75rem;
    border: none;
    border-radius: 5px;
    font-size: 1,2rem;
    /*cursor: pointer;*/
}

button:hover {
    background-color: #45a049;
}

footer {
    margin: 1rem auto 0;
    width: 650;
    text-align: center;
    font-size: 0.8em;
    color: #777;
    border-top: 1px solid #ccc;
}